@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body{
    font-family: "inter", sans-serif;
    width: 100%;
}
:root{
    --background-color: var(#37517E);
}

/*entête*/
header{
   background-color: #37517E !important;
   height: 90vh;
   min-height: auto;
}

.navbar-brand{
    color: aliceblue;
    font-weight: bold;
}
.navbar-brand:hover{
    color: rgb(19, 130, 228);
}

.navbar-nav .nav-item .nav-link{
    color: aliceblue;
}
.navbar-nav .nav-item .nav-link:hover{
    color: rgb(19, 130, 228);
}
/*fin*/

.section1{
    background-color: #F3F5FA !important;
}


