
@import url('https://fonts.googleapis.com/css2?family=Inder&family=Inter:wght@100..900&display=swap');


body{
    font-family: "inder", sans-serif;
    width: 100%;
}
:root{
    --background-color: var(#37517E);
}

/*entête*/
header{
   background-color: #37517E !important;
   height: 90vh;
   width: 100%;
}

.navbar-brand{
    color: aliceblue;
    font-weight: bold;
    
}
.navbar-brand:hover{
    color: rgb(19, 130, 228);
}

.navbar-nav .nav-item .nav-link{
    color: aliceblue;
    margin-left: 20px;
}
.navbar-nav .nav-item .nav-link:hover{
    color: rgb(19, 130, 228);
}

.main-header{
    margin-top: 7%;
}
/*fin*/

.section-accordion{
    background-color: #F3F5FA !important;
}

.section1{
    background-color: #F3F5FA !important;
    width: 100%;
}

.section4{
    background-color: #F3F5FA !important;
}

.container .main-grid{
    display: flex !important;
    justify-content: space-between !important;
    align-items: center; 
    margin-bottom: 50px;
}

.container .main-grid .grid{
    background-color: #ffffff !important;
    margin-left: 30px;
    margin-top: 30px;
    padding: 50px;
}

.section-img{
    height: 50vh;
    background-image:linear-gradient(to bottom, rgba(44, 53, 100, 0.788), rgba(44, 53, 100, 0.788)),
    url(./asset/images/pexel.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}

.container .main1-grid .grid{
    background-color: #ffffff !important;
    margin-left: 30px;
    margin-top: 30px;
    padding: 50px;
}
.container .main2-grid .grid{
    
    margin-left: 30px;
    margin-top: 30px;
    padding: 50px;
}